<scope import="main_page">
	<wc>      (( links ))
		<scope import=scrl element=li>
			<a href=((href))>((name))</a>
			<wc>
				(( 
					sub ?
					Array
					.prototype
					.slice
					.call(sub.getElementsByTagName("h1"))
					.map( 
						(t,i,b)=>({tp:t.offsetTop, bt:(b[i+1]) ? b[i+1].offsetTop : 10000, href:"#" + t.id, name : t.innerHTML})
					) : []
				))
				<scope import=scrl element=li style="(( ((tp < (scrl+800) && (scrl+800) < bt)) ? "font-weight:800":"d" ))" ><a  href=((href))>((name))</a></scope>	
			</wc>
		</scope>
	</wc>
	<script on=((main_page))>

		const lns = this.links;

		for(const link of lns)
			if(link.name == name)
				link.sub = ele;
			else 
				link.sub = null;	
		

		ele.addEventListener("scroll", e=>{
			scrl = e.target.scrollTop;
		})
		
		links = lns.slice();
	</script>

	<script on=((loading))>
		scrl = 1;
		this.links = [
			{href:"/libraries/wick/introduction/", name:"Introduction"},
			{href:"/libraries/wick/bindings/", name:"Bindings"},
			{href:"/libraries/wick/elements/", name:"Elements"},
			{href:"/libraries/wick/scripts/", name:"Scripts"},
			{href:"/libraries/wick/styles/", name:"Styles"},
			{href:"/libraries/wick/components/", name:"Components"},
			{href:"/libraries/wick/animation/", name:"Animation"},
			{href:"/libraries/wick/plugins/", name:"Plugins"},
		]
	</script>

</scope>
